@{
    ViewBag.Title = "Medebr - Ethiopian E-Commerce | Home";
    Layout = "_Layout";
}
<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a asp-controller="Products" asp-action="Products" asp-route-catagory="Laptop">
                <img src="~/img/home-img/laptop.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4 style="color:#FFF;">Laptops</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a asp-controller="Products" asp-action="Products" asp-route-catagory="Shoes">
                <img src="~/img/home-img/shoes.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4 style="color:#FFF;">Shoes</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a asp-controller="Products" asp-action="Products" asp-route-catagory="Cosmotics">
                <img src="~/img/home-img/cosmotics.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4 style="color:#FFF;">Cosmotics</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a asp-controller="Products" asp-action="Products" asp-route-catagory="Watch">
                <img src="~/img/home-img/watch.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4 style="color:#FFF;">Watches</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a asp-controller="Products" asp-action="Products" asp-route-catagory="EarPhone">
                <img src="~/img/home-img/ear-phone.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4 style="color:#FFF;">Ear Phones</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a asp-controller="Products" asp-action="Products" asp-route-catagory="CellPhone">
                <img src="~/img/home-img/cell-phone.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4 style="color:#FFF;">Cell Phones</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix" style="height: 490px;">
            <a asp-controller="Products" asp-action="Products" asp-route-catagory="TShirt">
                <img src="~/img/home-img/t-shirt.jpg" alt="" style="height: 100%;">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4 style="color:#FFF;">T-Shirts</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a asp-controller="Products" asp-action="Products" asp-route-catagory="Clothing">
                <img src="~/img/home-img/clothe.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4 style="color:#FFF;">Clothing</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix">
            <a asp-controller="Products" asp-action="Products" asp-route-catagory="Camera">
                <img src="~/img/home-img/camera.jpg" alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4 style="color:#FFF;">Camera</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Product Catagories Area End -->
