@{
    ViewBag.Title = "Medebr - Ethiopian E-Commerce | Home";
    Layout = "_Layout";
}
@model ShoppingCartViewModel
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <p style="color:green;">@ViewBag.Complete</p>
                <hr />
            </div>
        </div>
    </div>
</div>